<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaok.user.common.dao.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.xiaok.user.common.entity.SysUserRoleKey">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.xiaok.user.common.entity.SysUserRoleKey">
    delete from sys_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaok.user.common.entity.SysUserRoleKey">
    insert into sys_user_role (user_id, role_id)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaok.user.common.entity.SysUserRoleKey">
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>